body{
    background-color: rgb(230, 223, 223);
}
.nav{
    display: flex;
    justify-content: right;
}
.nav p{
    position: relative;
    right: 990px;
}
.nav a{
    text-decoration: none;
    margin: 10px;
    color: brown;
}
.nav a:hover{
    background-color: rgb(50, 24, 196);
    font-size:x-large;
}

h1{
    text-align: center;
    color: rgb(243, 126, 126);
    font-style: oblique;
}
img{
    height: 200px;
    position: relative;
    left: 540px;
}
.see{
    display: flex;
    justify-content: center;
}
.see button{
    background-color: aqua;
}
.form{
    background-color:rgb(245, 243, 243);
    height: 500px;
    width: 600px;
    margin-top: 30px;
    margin-left: 80px;
    padding-top: 30px;
    padding-left: 50px;
}
.form input{
    width: 300px;
}
.form select{
    width: 306.5px;
}
.can1{
    position: relative;
    top: 5px;
}
.can2{
    position: relative;
    top: 20px;
}
.can3{
    position: relative;
    top: 30px;
}
.can4{
    position: relative;
    top: 40px;
}
.can5{
    position: relative;
    top: 50px;
}
.can6{
    position:relative;
    top: 70px;
}
.can6 button{
    background-color: aqua;
    border-style: none;
    height: 30px;
}
.can6 button a{
    text-decoration: none;
}
.cat {
    text-align: center;
    position: relative;
    top: 40px;
}
.out {
    width: 900px;
    height: 500px;
    border-style: groove;
    margin-top: 50px;
    position: relative;
    top: 10px;
    left: 200px;
    background-color: rgb(250, 247, 247);
}

.in {
    width: 800px;
    height: 400px;
    border-style: groove;
    margin-top: 40px;
    margin-left: 40px;

}


.cat img{
    position: relative;
    left: 1px
}
